meta(charset="utf-8")
title= title

//meta
meta(name="description" content=description)
meta(name="keywords" content="桐蔭横浜大学,宮津 大蔵,パラリンピック,ヅカメン,宝塚,国公立小学校教諭")
meta(name="format-detection" content="telephone=no")
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no")
link(rel="shortcut icon" href="../images/favicon.png")

// ogp
meta(property="og:url" content=url)
meta(property="og:title" content=title)
meta(property="og:site_name" content=site_name)
meta(property="og:description" content=description)
meta(property="og:image" content=ogp_image_url)

// twitter
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content=title)
meta(name="twitter:description" content=description)
meta(name="twitter:site" content=url)
meta(name="twitter:image" content=ogp_image_url)
meta(name="twitter:creator" content=twitter_card_owner)

//font 
link(href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css" rel="stylesheet")

// stylesheet
link(rel="stylesheet" href="./../css/styles.css")

// javascript
script(src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js")
script(src="../js/app.js")
<!-- Global site tag (gtag.js) - Google Analytics -->
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-82884916-4")
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-82884916-4');